@charset 'UTF-8';

$font-default: 'Montserrat', sans-serif;
$font-secondary: 'Fira Code', $font-default, monospace;

$transition: 0.6s;

$height-header: 80px;

// ? Light theme

$color-bg: #e8e6dd;

$color-01: #016a70;
$color-02: #088395;
$color-03: #05BFDB;
$color-04: #00FFCA;

$color-text: #181818;

// ? Dark theme

$color-bg-dark: #171716;

$color-01-dark: #016a70;
$color-02-dark: #ffffdd;
$color-03-dark: #d2de32;
$color-04-dark: #a2c579;

$color-text-dark: #e8e8e8;
