@charset "utf-8";

@import '../../../styles/variables.scss';
@import '../../../styles/section.scss';

.Contact {
   @include section(180px, 1200px, 30px);

   .container-contacts {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 50px;

      .contact-option {
         width: 100%;
         max-width: 280px;
         padding: 20px;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         transition: all $transition;

         &-icon {
            font-size: 2.5rem;
            padding: 8px;
            border-radius: 50%;
            background-color: $color-01;
            color: white;
         }

         &-name {
            margin-top: 15px;
            font-weight: 500;
         }
         
         &-value {
            margin-top: 5px;
            font-size: 0.9rem;
            font-family: $font-secondary;
            font-weight: 200;
            color: $color-text;
            opacity: 0.8;
         }

         &:hover {
            background-color: rgba($color-04, 0.5);
         }
      }
   }
}

// ? Dark

.App.dark .Contact {
   .contact-option {
      &-name, &-value {
         color: $color-text-dark;
      }
   }
}
