@charset "utf-8";

@import '../../../styles/variables.scss';
@import '../../../styles/section.scss';

.About {
   @include section(180px, 700px, 30px);

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   text-align: center;

   p {
      font-size: 1.1rem;
      color: $color-text;
      line-height: 1.7rem;
   }
}

// ? Dark

.App.dark .About {
   p {
      color: rgba($color-text-dark, 0.8);
   }
}
