@charset 'UTF-8';

@import '../../../styles/variables.scss';

.modal-bg {
   position: fixed;
   top: -100vh;
   left: 0;
   z-index: 0;
   opacity: 0;
   width: 100%;
   min-height: 100vh;
   backdrop-filter: blur(3px);
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all $transition;

   &.open {
      z-index: 7;
      top: 0;
      opacity: 1;
   }
}

.Modal {
   position: relative;
   z-index: 9;
   width: 100%;
   max-width: 900px;
   padding: 30px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
   transition: all $transition;

   .icon-close {
      position: absolute;
      top: 30px;
      right: 30px;
      color: $color-text;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all $transition;

      &:hover {
         color: #ff5252;
      }
   }

   .modal-content {
      margin-top: 20px;
   }
}

// ? Dark

.App.dark .Modal {
   background-color: lighten(black, 10);
   box-shadow: 0 0 50px rgba(255, 255, 255, 0.154);

   .icon-close {
      color: $color-text-dark;

      &:hover {
         color: #ff5252;
      }
   }
}