@charset "utf-8";

@import '../../../../styles/variables.scss';

.Skill {
   $color-bg-skill: darken(white, 18);
   $color-text-skill: darken($color-04, 20);

   width: 100%;
   max-width: 120px;
   height: 120px;
   padding: 10px;
   background-color: $color-bg-skill;
   color: $color-text-skill;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   transition: all $transition;
   user-select: none;

   &:hover {
      transform: scale(102%);
      background-color: lighten($color-01, 12);
      color: white;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

      .skill-name {
         color: white;
      }
   }

   .skill-name {
      color: $color-text;
      font-weight: 500;
   }

   .skill-icon {
      font-size: 1.9rem;
   }
}

// ? Dark

.App.dark .Skill {
   $color-bg-skill: lighten($color-bg-dark, 12);
   $color-text-skill: lighten($color-02, 15);

   background-color: $color-bg-skill;
   color: $color-text-skill;

   p {
      color: rgba($color-text-dark, 0.7);
   }

   &:hover {
      &:hover {
         background-color: $color-01;
         color: white;
   
         .skill-name {
            color: white;
         }
      }
   }
}
